{% include 'templates/headerAdmin.html.twig' %}
    <section class="ly_listPage2">
        <div class="bl_listPage ly_listPage2_inner">
            <input type="hidden" name="entry_url" value="{{constant('shopping\\Bootstrap::ENTRY_URL')}}" id="entry_url">
            <h2 class="el_title"><span class="el_title_main">購入履歴一覧</span></h2>
            <p class="el_title_sub">buy record</p>
            <div class="bl_listPage_navContainer">
                <a class="bl_listPage_nav" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}buyListAd.php?cor=1">対応済みリスト</a>
                <a class="bl_listPage_nav" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}buyListAd.php?cor=0">未対応リスト</a>
                <a class="bl_listPage_nav" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}buyListAd.php">一覧表示</a>
             </div>
            <div class="bl_listPage_navContainer">
                {% for value in yearArr %}
                {% if cor|length > 0 %}
                <a class="bl_listPage_nav" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}buyListAd.php?year={{value}}&cor={{cor}}&month=1">{{value}}年</a>
                {% else %}
                <a class="bl_listPage_nav" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}buyListAd.php?year={{value}}&month=1">{{value}}年</a>
                {% endif %}
                {% endfor %}
            </div>
            {% if year|length > 0 %}
            <div class="bl_listPage_month">
                <p class="bl_listPage_text">{{year}}年度</p>
                <select class="buyList bl_listPage_select" name="#sup_{{year}}">
                    {% if month|length > 0 %}
                        {% for i in 1..12 %}
                            {% if i == month %}
                            <option value="{{month}}" selected>{{month}}月</option>
                            {% else %}
                            <option value="{{i}}">{{i}}月</option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for i in 1..12 %}
                            {% if i == 1 %}
                            <option value="{{i}}" selected>{{i}}月</option>
                            {% else %}
                            <option value="{{i}}">{{i}}月</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <input type="hidden" name="sup_year" value="{{year}}" id="sup_year">
                    {% if cor|length > 0 %}
                    <input type="hidden" name="sup_cor" value="{{cor}}" id="sup_cor">
                    {% endif %}
                </select>
            </div>
            {% endif %}
        </div>
        {% for value in dataArr %}
        <div class="bl_listPage_contents">
            <table class="bl_listPage_table">
                <tr>
                    <th>購入ID</th>
                    <td>{{value.buy_sort}}</td>
                </tr>
                <tr>
                    <th>顧客ID</th>
                    <td>{{value.customer_no}}</td>
                </tr>
                <tr>
                    <th>合計数</th>
                    <td>{{value.sum_num}}</td>
                </tr>
                <tr>
                    <th>総額</th>
                    <td>{{value.sum_price}}</td>
                </tr>
                <tr>
                    <th>購入ID</th>
                    <td>{{value.buy_id}}</td>
                </tr>
                <tr>
                    <th>購入フラグ</th>
                    <td>{{value.ord_flg}}</td>
                </tr>
                <tr>
                    <th>受領日付</th>
                    <td>{{value.buy_date}}</td>
                    {% if value.ord_date == NULL %}
                    <td>未対応</td>
                    {% else %}
                    <td>対応日付：{{value.ord_date}}</td>
                    {% endif %}
                </tr>
                {% if value.ord_flg == 1 %}
                <a lass="bl_listPage_delete" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}buyListAd.php?re_buy_id={{value.buy_sort}}&year={{year}}&cor={{cor}}&month={{month}}">未対応に変更</a>
                {% elseif value.ord_flg == 0 %}
                <a lass="bl_listPage_delete" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}buyListAd.php?del_buy_id={{value.buy_sort}}&year={{year}}&cor={{cor}}&month={{month}}">対応済みに変更</a>
                {% endif %}
            </table>
        </div>
        {% endfor %}
        <p class="bl_listPage_btn"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}admin.php" class="el_btn"><span class="el_btn_slide" class="el_btn"></span>トップページに戻る</a></p>
        <p class="bl_listPage_btn"><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}buyListAd.php?dl_buy=all" class="el_btn"><span class="el_btn_slide"></span>csvダウンロード</a></p>
    </section>
{% include 'templates/footerAdmin.html.twig' %}