 {% include 'templates/header.html.twig' %}
    <section class="ly_list">
        <div class="bl_list ly_list_inner">
            <h2 class="el_title"><span class="el_title_main">商品一覧</span></h2>
            <p class="el_title_sub">items</p>
            <div class="panel panel-primary">
                <ul class="list-group el_items--list">
                    {% for value in dataArr %}
                    <li class="list-group-item el_items_item--list">
                        <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">
                            <img class="el_items_img" src="{{constant('shopping\\Bootstrap::ENTRY_URL')}}images/buy_items/{{value.image}}" alt="{{value.item_name}}">
                            <p class="el_items_text">{{value.item_name}}</p>
                            <p class="el_items_text">&yen;{{value.price|number_format(0,'.',',')}}</p>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- bl_list -->
    </section>
{% include 'templates/footer.html.twig' %}