{% include 'templates/header.html.twig' %}
    <section class="ly_regist">
        <h2 class="el_title"><span class="el_title_main">お問い合わせ</span></h2>
        <p class="el_title_sub">regist</p>
        <div class="bl_regist ly_regist_inner">
            <input type="hidden" name="entry_url" id="entry_url" value="{{constant('shopping\\Bootstrap::ENTRY_URL')}}">
            <form class="bl_regist_form" action="support_confirm.php" method="post">
                <p>{{support_message}}</p>
                <div class="bl_regist_item">
                    <p class="bl_regist_subTitle">お問い合わせ内容<span class="bl_regist_red"> *必須</span></p>
                    <div class="bl_regist_inputContainer">
                        <textarea class="bl_regist_input" type="text" name="support" value="{{dataArr.support}}" cols="40" rows="10" placeholder="400字以内" maxlength="400"></textarea>
                        {% if errArr.support|length > 0 %}<p class="bl_regist_errmsg">{{errArr.support}}</p>{% endif %}
                    </div>
                </div>
                <div class="bl_regist_item">
                    <p class="bl_regist_subTitle">連絡先メールアドレス<span class="bl_regist_red"> *必須</span></p>
                    <div class="bl_regist_inputContainer">
                        <input class="bl_regist_input" type="text" name="spt_email" value="{{dataArr.spt_email}}" size="40">
                        {% if errArr.email|length > 0 %}<p class="bl_regist_errmsg">{{errArr.spt_email}}</p>{% endif %}
                    </div>
                </div>
                <div class="bl_regist_btnContainer">
                    <input class="bl_regist_btn" type="submit" name="confirm" value="お問い合わせ">
                </div>
            </form>
        </div>
        <!-- bl_form -->
    </section>
{% include 'templates/footer.html.twig' %}